<h1>Pichnic product detail: {{product.getName}}</h1>
<div class="row">
    <div class="col-12 col-md-6">
        <img src="{{product.getImageUrl}}" />
    </div>
    <div class="col-12 col-md-6">
        <p>{{product.getDescription}}</p>
        <a href="picnic/index/addtocart/{{product.getId}}" class="btn btn-success" >bestellen</a>
    </div>
</div>